@font-face {
	font-family: PixelFont;
	src: url(../fonts/pixel.ttf);
	font-weight:400;
}

body {
	background-color: #16002e;
	position: relative;
}

.controls {
	display: none;
	text-align: center;
	margin: auto;
}

.controls.visible {
	display: block;
}

.btn {
	width: 3em;
	cursor: pointer;
	font-family: PixelFont;
	font-size: 1.11rem;
	display: inline-block;
	border-radius: .09rem;
	border: .02rem dashed #f200ff;
	background-color: #16002e;
	color: #f200ff;
	padding: .7rem .46rem;
}

.start-btn {
	cursor: pointer;
	font-family: PixelFont;
	font-size: 48px;
	display: block;
	border-radius: 4px;
	border: 1px dashed #f200ff;
	background-color: #16002e;
	color: #f200ff;
	padding: 30px 20px;
	margin: auto;
}

canvas {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}